body {
  cursor: url(http://i0.kym-cdn.com/entries/icons/original/000/022/488/c6bf9b08586c241b021dd04c204b7a85.png), auto;
  margin: 0;
}

div {
  margin: 0;
}

h1 {
  animation: awesome 1s infinite alternate-reverse;
  color: #ff00ff;
  font-family: 'Bangers', cursive;
  font-size: 4em;
  letter-spacing: 0.1em;
  text-shadow: 5px 5px #ff7de6;
}

marquee {
  background-color: black;
  border-radius: 25px;
  color: white;
  font-family: 'Righteous', cursive;
  font-size: 2em;
  letter-spacing: 0.4em;
  max-width: 400px;
  padding: 1em;
}

.container {
  border-width: 10px;
  border-style: solid;
  border-radius: 25px;
  margin: 2em;
  padding: 2em;
  text-align: center;
}

.show-on-small-screens {
  display: none;
}

.top-image {
  border-radius: 50%;
  max-width: 300px;
  width: 100%;
}

@keyframes awesome {
  from {
    color: #ff00ff;
    text-shadow: 7px 7px #ff7de6;
  }
  to {
    color:  #ff7de6;
    text-shadow: 5px 5px #ff00ff;;
  }
}

@media only screen and (max-width: 600px) {
  marquee {
    border-radius: 0;
    min-width: 100%;
  }

  .container {
    border: none;
    border-radius: 0;
    margin: 0;
    min-height: 100vh;
    padding: 0;
  }

  .show-on-large-screens {
    display: none;
  }

  .show-on-small-screens {
    display: inherit;
  }
}
